{% extends 'base.html' %}
{% block content %}

<h1>Daily Food Summary</h1>

{% for food in foods %}
  <a href=''>
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ food.name }}</span>
            <p>Calories: {{ food.calories }}</p>
            <p>Protein: {{ food.protein }}</p>
            <p>Fats: {{ food.fats }}</p>
            <p>Carbohydrates: {{ food.carbohydrates }}</p>
            <p>Sodium: {{ food.sodium }}</p>
        </div>
      <div class="card-action">
        <a href="{% url 'food_update' food.id %}">Edit</a>
        <a href="{% url 'food_delete' food.id %}">Delete</a>
      </div>  
    </div>
  </a>
{% endfor %}
{% endblock %}

